@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-03-27 20:16:58
 * @version $Id$
 */

body{
	background-color:#333;
	
}

.container{
	background-color:red;
	width:400px;
	height:150px;
	border-collapse:collapse;
}
.weekdays{
	background-color:#fff;
	width:400px;
	height: 40px;
	border-collapse:collapse;
	
}
.days{
	background-color:#fff;
	width:400px;
	height:30px;
	font-weight:bold;
	border-collapse:collapse;
	<p id="red">18</p>
}

.container tr:first-child{
	font-family: '宋体';
	font-weight:bold;
	font-size:100px;
	color:white;
}
.container tr:nth-child(2n){
	
	font-family: '宋体';
	font-weight:bold;
	font-size:50px;
	color:white;
}

.weekdays tr{
	font-weight:bold;
	color: red;
	font-size: 20;
}
