 .container{
  max-width: 400px;
  text-align: left;
  line-height: 40px;
  
}


.bg { 
  background-image: url(http://d.5857.com/meme_150909/008.jpg);
  background-size: cover;
  height:600px;
  width:100%;

 }





.page{
     position:absolute;
     background: rgba(255, 255, 255, 0.2);
     margin: 120px auto;
     margin-left:12px;
 }

 .control-labe1{
  left:10px;
  font-size: 20px;
 }
.form-control{
  font-size: 25px;
  font-weight: bold;
}


 #button {
     font-size: 20px;
     color: #FF0000;
     width:50%;
     position：absolute;
     margin：0 auto;
     font-weight: bold;
     background-color: #FFF;
     opacity: 0.8;
     font-family: SimHei;
     height: 40px;
     border-radius: 8px;
 }