@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-18 15:27:14
 * @version $Id$
 */
.file-setting{
    color: yellow;
}
#incallback,#outcallback{
    margin-top:10px;
    background-color: rgba(0,0,0,.5);
}
